{% extends 'base.html' %}
{% block title %}Home | {% endblock %}
{% block delete_script %}
    function delete_post (post_id) {
        console.log(post_id);
        var url = $('#delete-modal_'+post_id).attr('form-url');
        var ajaxParams = {
            type: 'POST',
            url: url,  // your url endpoint
            data: {
                post_id : post_id,
            },  // gather form data
            success: function(data) {
                    $("#exampleModalCenter_"+post_id).modal("toggle");  // Use toggle to close modal
                    location.reload(true); // Reload the page
            },// end success callback
            error: function(data) {
                console.log(data);
                // $("#exampleModalCenter_"+post_id).modal("toggle");  // Use toggle to close modal
            }
        };
        $.ajax(ajaxParams);  // end ajax call
    };
{% endblock delete_script %}
{% block navbar_button %}
    <div class="d-flex justify-content-end">
        {% if user.is_authenticated %}
            <span class="d-flex align-items-center justify-content-end navbar-text mr-2">
                Logged in as {{ user.username}}
            </span>
        {% endif %}
        <a href="{% url 'user_logout' %}" class="d-flex justify-content-end btn btn-link btn-lg"
           tabindex="-1" role="button" aria-disabled="true">Logout</a>
    </div>
{% endblock navbar_button %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h2>List of Posts</h2>
        </div>
        <div class="col-md-4 offset-md-4 d-flex justify-content-end">
            <a class="btn btn-primary" href="{% url 'create_post' %}" role="button">Create Post</a>
        </div>
    </div>
    <hr>
    {% for post in posts %}
        <div class="container">
            <div class="align-items-start">
                <a class="btn btn-link" href="{{ post.id }}/">
                    <h4>{{ post.title }}</h4>
                </a>
                <span class="badge badge-{% if post.publish == 'publish' %}success{% elif post.publish == 'draft' %}secondary{% else %}danger{% endif %}">
                    {{post.publish|title}}
                </span>
                {% if request_user %}
                    {% if request_user == post.author %}
                        <a class="btn btn-link"
                           href="{% url 'update_post' post_id=post.id %}">
                            <i class="fa fa-edit"></i><small class="ml-1">Edit</small>
                        </a>
                        <button type="button" class="btn btn-link"
                                data-toggle="modal"
                                style="color: red;"
                                data-target="#exampleModalCenter_{{ post.id }}">
                            <i class="fa fa-trash"></i><small class="ml-1">Delete</small>
                        </button>
                        {% include 'blog_post/delete_post.html' with post_title=post.title post_id=post.id %}
                    {% endif %}
                {% endif %}
                <p class="mx-4">{{post.content|truncatewords:50}}</p>
            </div>
            <div class="row align-items-end">
                <div class="col-md-3">
                    <label class="p-2 justify-content-start label label-default"> Authored by {{ post.author.username }}</label>
                </div>
                <div class="col-md-4">
                    <label class="p-2 justify-content-end label label-default"> Created at {{ post.created_at }}</label>
                </div>
                <div class="col-md-5">
                    <label class="p-2 justify-content-end label label-default"> Updated at {{ post.updated_at }}</label>
                </div>
            </div>
            {% if not forloop.last %}<hr>{% endif %}
        </div>
    {% endfor %}
{% endblock content %}