{% extends 'base.html' %}
{% block title %}Home | {% endblock %}
{% block delete_script %}
    $("#delete-button").click(function(event) {
        event.preventDefault();  // prevent default submission
        url = $('#delete-modal').attr('form-url');
        post_id = $("#delete-modal").attr('data-id');
        console.log(url);
        console.log(post_id);
        var ajaxParams = {
            type: 'POST',
            url: url,  // your url endpoint
            data: {
                post_id : post_id,
            },  // gather form data
            success: function(data) {
                    alert('Success');
                    console.log(data);
                    $("#exampleModalCenter").modal("toggle");  // Use toggle to close modal
            },// end success callback
            error: function(data) {
                console.log(data);
                alert('Some Error Occurred');
                $("#exampleModalCenter").modal("toggle");  // Use toggle to close modal
            }
        };
        $.ajax(ajaxParams);  // end ajax call
    });
{% endblock delete_script %}
{% block navbar_button %}
    <div class="d-flex justify-content-end">
        {% if user.is_authenticated %}
            <span class="d-flex align-items-center justify-content-end navbar-text mr-2">
                Logged in as {{ user.username}}
            </span>
        {% endif %}
        <a href="{% url 'user_logout' %}" class="d-flex justify-content-end btn btn-link btn-lg"
           tabindex="-1" role="button" aria-disabled="true">Logout</a>
    </div>
{% endblock navbar_button %}
{% block content %}
    <div class="d-flex justify-content-end">
        <a class="justify-content-end btn btn-primary"
           href="{% url 'create_post' %}" role="button">
            Create Post
        </a>
    </div>
    {% for post in posts %}
        <div class="container">
            <div class="align-items-start">
                <a class="btn btn-link" href="{{ post.id }}/">
                    <h4>{{ post.title }}</h4>
                </a>
                <span class="badge badge-{% if post.publish == 'publish' %}success{% elif post.publish == 'draft' %}secondary{% else %}danger{% endif %}">
                    {{post.publish|title}}
                </span>
                {% if request_user %}
                    {% if request_user == post.author %}
                        <a class="btn btn-link"
                           href="{% url 'update_post' post_id=post.id %}">
                            <i class="fa fa-edit"></i><small>Edit</small>
                        </a>
                        <button type="button" class="btn btn-link"
                                data-toggle="modal"
                                style="color: red;"
                                data-target="#exampleModalCenter">
                            <i class="fa fa-trash"></i><small>Delete</small>
                        </button>
                        {% include 'blog_post/delete_post.html' with post_title=post.title post_id=post.id %}
                    {% endif %}
                {% endif %}
                <p class="ml-4">{{post.content|truncatewords:50}}</p>
            </div>
            <div class="d-flex align-items-end">
                <label class="p-2 justify-content-start label label-default"> Authored by {{ post.author.username }}</label>
                <label class="p-2 justify-content-end label label-default"> Create at {{ post.created_at }}</label>
                <label class="p-2 justify-content-end label label-default"> Update at {{ post.updated_at }}</label>
            </div>
        </div>
    {% endfor %}
{% endblock content %}